<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Movie Saga | {{ page.title }} </title>
    <meta name="google-site-verification" content="MUYQd_IZ1zk-pYgUnZycB2vmi38bvy12Z_2ijL8gFyg" />
    <!-- HTML Meta Tags -->
    <meta name="description" content="In what order to watch {{ page.title }}">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Movie Saga | {{ page.title }} ">
    <meta property="og:description" content="In what order should you watch {{ page.title }}">
    <meta property="og:image" content="{{ site.url }}{{ page.poster }}-lg.webp">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="movie-saga.com">
    <meta property="twitter:url" content="{{ site.url }}{{ page.url }}">
    <meta name="twitter:title" content="Movie Saga | {{ page.title }}">
    <meta name="twitter:description" content="In what order should you watch {{ page.title }}">
    <meta name="twitter:image" content="{{ site.url }}{{ page.poster }}-lg.webp">

    <!-- Meta Tags Generated via https://www.opengraph.xyz -->
</head>

{% include icons.html %}
