
<nav>
  <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#select-saga-modal">Other sagas</a>
  <!--<a aria-current="page" href="/" data-bs-toggle="modal">Sagas</a>-->
</nav>

<div id="select-saga-modal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Select the saga you want to explore</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% for saga in site.data._saga %}
            <a class="dropdown-item" href="{{ site.url }}{{site.baseurl}}{{ saga.url }}">
              {{ saga.name }}
            </a>
        {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--<nav class="navbar navbar-dark bg-dark">
    <div class="container container-fluid">
      <a class="navbar-brand" href="#">{{ site.title }}</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Other sagas
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for saga in site.data._saga %}
                <li>
                    <a class="dropdown-item" href="{{ site.url }}{{site.baseurl}}{{ saga.url }}">
                    {{ saga.name }}
                    </a>
                </li>
                {% endfor %}
            </ul>
          </li>
        </ul>
      </div>
    </div>
</nav>
-->