<nav style="
  position: fixed;
  height: 60px;
  width: 100%;
  align-items:center;
  background-color: black;
">
<a aria-current="page" href="/">Home</a>
</nav>
<!--<nav class="navbar navbar-dark bg-dark">
    <div class="container container-fluid">
      <a class="navbar-brand" href="#">{{ site.title }}</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Other sagas
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for saga in site.data._saga %}
                <li>
                    <a class="dropdown-item" href="{{ site.url }}{{site.baseurl}}{{ saga.url }}">
                    {{ saga.name }}
                    </a>
                </li>
                {% endfor %}
            </ul>
          </li>
        </ul>
      </div>
    </div>
</nav>
-->