<div class="movie-card">
  <div class="poster">
    <img src="{{ site.url }}/assets/img/{{ movie.id }}.jpg" alt="{{ movie.Title }}">
  </div>

  <div class="description">
    <div class="head">
      <h3>{{ movie.Title }} <span class="release-year">{{ movie.Year }}</span></h3>

    </div>
    <div class="ratings">
      {%- assign ratings = movie.imdbRating -%}
      <svg xmlns="http://www.w3.org/2000/svg"><use href="#hero-star-filled" /></svg>
      <span class="ratings-score">{{ ratings }}</span>
    </div>

    {% if page.sort_by != "Year" %}
      <div class="" style="font-size: 15px; font-style: italic;">
        <p>{{ movie.note }}</p>
      </div>
    {% endif %}

    <div class="plot">
      <p>{{ movie.Plot }}</p>
    </div>
  </div>
</div>
