</div>
<div class="offset-1 col-5 description">
  {{ page.description }}
</div>
</div>
<br>

<div class="row">
    <div class="offset-10 col-md-1 col-12 hero-content card fact-box">
        <span>{{ saga_movies | size }}</span> movies
    </div>
</div>
<div class="row">
    <div class="offset-10 col-md-1 col-12 hero-content card fact-box">
        <span>{{ saga_tv_shows | size}}</span> tv shows
    </div>
</div>
<div class="row">
    <div class="offset-10 col-md-1 col-12 hero-content card fact-box">
        <span>{{ episodes }}</span> episodes
    </div>
</div>
<div class="row">
    <div class="offset-9 col-md-1 col-12 hero-content card fact-box">
        <span>Still</span> continued
    </div>
    <div class="col-md-1 col-12 hero-content card fact-box">
        <span>{{ duration }}</span> hours
    </div>
</div>
<!--<div style="">
    * X movies
* X series
* X episodes
* X hours of watch
* X video games
* X drinking games
* Finished / Still in production
</div>-->

</div>
