{%- assign poster = '' -%}
{%- if page.collection == "orders" -%}
  {%- assign saga = site.sagas | where_exp: "saga", "saga.id contains page.slug_parent" | first -%}
  {%- assign poster = saga.poster -%}
  {%- assign bg_position = saga.bg_position -%}
  {%- assign title = saga.title -%}
{%- elsif page.collection == "sagas" -%}
  {%- assign poster = page.poster -%}
  {%- assign bg_position = page.bg_position -%}
  {%- assign title = page.title -%}
{%- endif -%}

<style type="text/css">
  main {
    position: relative;
    padding-top: 20vh;
  }

  h1.wrapper__title {
    display: block;
    font-weight: 900;
    font-size: 2rem;
    text-align: center;
    text-shadow: 0 2px 4px rgba(0,0,0,0.3);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .__subtitle {
    display: block;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 300;
  }

  main::before {
    content: "";
    position: absolute;
    display: block;
    height: 33vh;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: -1;
    background:
      linear-gradient(
        to bottom,
        var(--grey-950),
        transparent 84px
      ),
      linear-gradient(
        to bottom,
        transparent 60%,
        var(--grey-950)
      ),
      url({{ site.url }}{{ poster }}-lg.webp) {{ bg_position | default: "center" }}/cover no-repeat;
  }

  @media screen and (min-width: 640px) {
    h1.wrapper__title {
      font-size: 3rem;
      font-weight: 900;
      text-align: center;
    }

    h1.wrapper__title .__subtitle {
      display: inline;
      font-weight: 900;
      text-transform: none;
      font-size: 3rem;
    }

    {% if page.subtitle %}
    h1.wrapper__title .__subtitle::before {
      content: " | ";
      display: inline;
    }
    {% endif %}
  }

  @media screen and (min-width: 1024px) {
    h1.wrapper__title,
    h1.wrapper__title .__subtitle {
      font-size: 4rem;
    }
  }
</style>

<main class="wrapper">
  {%- if title -%}
  <h1 class="wrapper__title">{{ title }}{% if page.subtitle %}<span class="__subtitle">{{ page.subtitle }}</span>{% endif %}</h1>
  {%- endif -%}
  <section>
