<!doctype html>
<html lang="en" class="h-100">
  {% include header.html %}
  <body class="d-flex flex-column h-100">

        {% include navbar.html %}
        <section class="hero-panel">
          <div class="gradient-panel-top">
            <div class="container">
              <div class="row">
              </div>
            </div>
          </div>
        </section>
        <div class="container container-fluid container-md content-panel row" style="
        position: absolute;
        margin-top: 60px;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        ">
            {{ content }}
        </div>
        <!--% include footer.html %-->

  {% include style.html bg_url=page.img_url %}
  </body>
</html>
