<!doctype html>
<html lang="en" class="h-100" data-bs-theme="dark">
  {% include header.html %}
  <body class="d-flex flex-column h-100">

        {% include navbar.html %}
        <section class="hero-panel">
          <div class="gradient-panel-top">
            <div class="container">
              <div class="row">
                <div class="col-4">
                  <h1 class="title">{{ page.title }}</h1>
                </div>
              </div>
            </br>
              <div class="row">
                <div class="col-4 content">
                  {{ content }}
                </div>
                <div class="offset-1 col-5 description">
                  {{ page.description }}
                </div>
              </div>
            </br>
              {% if page.hero %}
                {% include {{ page.hero }} %}
              {% endif %}
            </div>
          </div>
        </section>        
        <!--% include footer.html %-->

  {% include style.html bg_url=page.img_url %}
  </body>
</html>
