
<div class="row">
    <div class="offset-10 col-1 col-xs-12 hero-content card fact-box">
        <span>10</span> movies
    </div>
</div>
<div class="row">
    <div class="offset-10 col-1 col-xs-12 hero-content card fact-box">
        <span>1</span> serie
    </div>
</div>
<div class="row">
    <div class="offset-10 col-1 col-xs-12 hero-content card fact-box">
        <span>12</span> episodes
    </div>
</div>
<div class="row">
    <div class="offset-9 col-1 col-xs-12 hero-content card fact-box">
        <span>Still</span> continued
    </div>
    <div class="col-1 col-xs-12 hero-content card fact-box">
        <span>50</span> hours
    </div>
</div>
<!--<div style="">
    * X movies
* X series
* X episodes
* X hours of watch
* X video games
* X drinking games
* Finished / Still in production
</div>-->
